*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body , html{
    font-family:Arial, Helvetica, sans-serif;
    color: aliceblue;
    background: black;
    scroll-behavior: smooth;
    text-decoration: none;
}

#side-menubar{
    display: none;
    flex-direction: column;
    backdrop-filter: blur(50px);
    height: 100vh;
    width: 300px;

    position: fixed;
    top: 0;
    right: 0;

    z-index: 5;
    padding: 25px;
}
#side-menubar > div{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#side-menubar > div > a{
    width: 100%;
    padding: 25px;
}
#side-menubar > div > a:hover{
    background: aliceblue;
    color: #000;
    transition: 0.25s;
}
#closesidebar{
    background: none;
    border: none;
    display: flex;
    align-items: start;
    padding: 25px;
}
#closesidebar > img{
    width: 25px;
    height: 25px;
    filter: invert(1);
    cursor: pointer;
}

#showsidebar{
    display: none;
    width: 30px;
    height: 30px;
    background: aliceblue;
    border-radius: 8px;

    position: fixed;
    top: 0;
    z-index: 5;

    margin: 25px;

    cursor: pointer;
}
#showsidebar > img{
    width: 100%;
}


/* container */
.container{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    background: url(Picture/BackGround/ChatGPT\ Image\ Sep\ 9\,\ 2025\,\ 09_55_13\ AM.png) center;
    background-size: cover;
    width: 100vw;
    height: 100vh;

    padding: 10%;
}
.name_and_position{
    width: 500px;
    position: relative;
    top: 10px;
}
.name_and_position div hr,p{
    width: 55%;
}
.doc_btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 60%;
    height: 80px;

    margin-top: 20px;
}
.doc_btn a{
    width: 49%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px aliceblue solid;
    border-radius: 50px;
}
.doc_btn > a > button{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: none;
    border: none;
    color: aliceblue;
}
.doc_btn > a > button > img{
    filter: invert(1);
    width: 20px;
    height: 20px;
}
.doc_btn a:hover{
    background: aliceblue;
    transition: 0.5s;

    box-shadow: 3px 3px 24px rgb(255, 255, 255, 0.5);
}
.doc_btn a:hover button{
    color: black;
}
.doc_btn a:hover > button > img{
    filter: invert(0);
}
.menu{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;

    border-bottom: 1px aliceblue solid;
    backdrop-filter: blur(50px);

    width: 500px;
    height: 50px;

    position: fixed;
    top: 0;
    left: 5%;
    z-index: 1;
}
.menu > button{
    height: 100%;
    font-size: 1rem;
    color: aliceblue;
    opacity: 0.6;

    background: none;
    border: none;
    transition: 0.25s;
}
.menu > button > a{
    position: relative;
    color: aliceblue;
    text-decoration: none;
}
.menu > button > a::before{
    content: "";
    position: absolute;
    background: white;
    height: 2px;
    width: 0;
    left: 50%;
    bottom: -8px;
    transition: 0.25s;
}
.menu > button > a::after{
    content: "";
    position: absolute;
    background: white;
    height: 2px;
    width: 0;
    left: 50%;
    bottom: -8px;
    transition: 0.25s;
}
.menu > button:hover{
    opacity: 1;
}
.menu > button:hover > a::before{
    width: 50%;
    left: 0;
}
.menu > button:hover > a::after{
    width: 50%;
}

#BG{
    width: 100%;
    background: url(Picture/BackGround/ChatGPT\ Image\ Oct\ 2\,\ 2025\,\ 12_26_32\ AM.png) no-repeat;
    background-position: center;
    background-size: cover;
}

/* About Me */
#aboutMe{
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 25px;

    padding: 50px;
}
#aboutMe > hr,h1{
    grid-column: 1 / span 2;
    align-items: center;
}
#left{
    grid-column: 1 / span 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#left > img{
    width: 200px;
    border-radius: 50%;
}
#right{
    grid-column: 2 / span 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#right > p{
    width: 100%;
}
#contact{
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    gap: 10px;
}
#contact > a{
    height: 25px;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
}
#contact > a:hover{
    background: aliceblue;
    color: #000;
    transition: 0.25s;
    border-radius: 10px;
}
#contact > a > img{
    height: 100%;
    border-radius: 24px;
}


/* Experience */
#experience{
    width: 100%;
    padding: 50px;
    padding-top: 0px;
}
#workInfo{
    width: 100%;
    backdrop-filter: blur(25px);
    border: aliceblue 2px solid;
    border-radius: 24px;

    display: grid;
    grid-template-columns: 30% 70%;
    justify-self: center;
    align-self: center;

    padding: 20px;
    margin-bottom: 40px;
}
#comany{
    grid-column: 1 / span 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#comany > img{
    width: 50%;
    border-radius: 50%;
}
#jd{
    grid-column: 2 / span 1;
}
#jd > p{
    width: 100%;
    margin-top: 20px;
}
#details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Skills */
#skills{
    width: 100%;
    padding: 50px;
    padding-top: 0px;
    text-align: center;
}
#skillsicon{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
#skillsicon > img{
    margin: 20px;
    width: 69px;
    height: 69px;
    border-radius: 12px;
    background: aliceblue;
}

/* education */
#education{
    width: 100%;

    padding: 50px;
    padding-top: 0;
}
#university{
    padding: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
}
#university > h4:first-child{
    grid-column: 1 / span 1;
}
#university > h4:nth-child(2){
    grid-column: 2 / span 1;
    text-align: right;
}
#university > h4:last-child , #university > h4:nth-child(3){
    grid-column: 1 / span 2;
}

/* contact me */
#footer{
    width: 100%;
    background: black;
    text-align: center;
    padding: 50px;
}
#contact_me{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-self: center;
    justify-self: center;
}
#contact_me > a{
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 5px;
}
#contact_me > a > img{
    width: 24px;
    border-radius: 24px;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: aliceblue;
    cursor: pointer;
}

@media (width <= 1120px) {
    #right > p{
        width: 100%;
        height: 130px;
    }
}
@media (width <= 800px) {
    #aboutMe{
        display: flex;
        flex-direction: column;
    }
    #right > p {
        height: 130px;
    }
    #workInfo{
        display: flex;
        flex-direction: column;
    }
    #comany > img{
        width: 100px;
        border-radius: 50%;
    }
    #jd{
        margin-top: 20px;
    }
}
@media (width <= 560px) {
    h1{
        font-size: 1.25rem;
    }
    .menu{
        display: none;
    }
    #showsidebar{
        display: flex;
    }
    .container{
        height: 400px;
    }
    .name_and_position{
        width: 300px;
        position: relative;
        top: 30px;
    }
    .name_and_position div hr,p{
        width: 75%;
    }
    .name_and_position > div > h1{
        font-size: 1.25rem;
    }
    .name_and_position > div > h2{
        font-size: 1rem;
    }
    .doc_btn{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        width: 60%;
        height: 40px;
    }
    .doc_btn a{
        height: 25px;
        display: flex;
    }
    .doc_btn > a > button{
        font-size: 0.65rem;
    }
    .doc_btn > a > button > img{
        filter: invert(1);
        width: 10px;
        height: 10px;
    }
    #left > img{
        width: 150px;
    }
    #left > h3{
        font-size: 1rem;
    }
    #right > p {
        height: 150px;
        font-size: 0.75rem;
    }
    #contact{
        font-size: 0.75rem;
        width: 100%;
    }
    #contact > a{
        width: 100%;
    }
    #contact > a > img{
        width: 20px;
        height: 20px;
    }
    #comany > h3{
        font-size: 1rem;
    }
    #details{
        flex-direction: column;
        align-items: start;
    }
    #details > h4{
        font-size: 0.75rem;
    }
    #jd > p{
        font-size: 0.75rem;
    }
    #skillsicon > img{
        width: 59px;
        height: 59px;
        margin: 10px;
    }
    #education{
        width: 100%;
    }
    #university{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        padding-left: 0;
    }
    #university > h4{
        font-size: 0.75rem;
    }
    #footer{
        font-size: 16px;
    }
    #contact_me > a{
        font-size: 0.75rem;
    }
    #contact_me > a > img{
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }

}
@media (width > 560px){
    #showsidebar{
        display: none;
    }
    #side-menubar{
        display: none;
    }
}
