*{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.grid-container {
	display: grid;
	grid-template-columns: 30% auto;
	gap: 10px;

	background: bisque;
	background-size: cover;
	background-position: center;

	width: 100vw;
}

#header{
	grid-column: 1 / span 2;

	background: white;
	border: 10px bisque solid;

	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 50px;
	height: 250px;
}

#main1{
	grid-template-columns: 1 / span 1;
	padding: 30px;
	background: white;
	border: 10px bisque solid;
}
#main1 > ul{
	margin-left: 50px;
}
#main1 > ul > img{
	width: 80%;

	border-radius: 24px;
}
#main2{
	grid-column: 2 / span 1;
	padding: 30px;
	background: white;

	border-top: 10px bisque solid;
	border-bottom: 10px bisque solid;
	border-right: 10px bisque solid;
}
#main2 > ul{
	display: flex;
	flex-wrap: wrap;
	gap: 50px;
}
#main2 > ul > li{
	width: 45%;
}
#main2 > ul > li > img{
	width: 80%;

	border-radius: 24px;
}

#footer{
	grid-column: 1 / span 2;
	height: 100px;

	display: flex;
	justify-content: center;
	align-items: center;

	background: white;
	background-size: cover;
	background-position: center;

	color: black;

	font-size: 20px;
}
#footer > a{
	text-decoration: none;
	color: black;
}

@media only screen and (max-width: 868px) {
	.grid-container {
		grid-template-columns: auto;
	}

	#header, #main1, #main2, #footer{
		grid-column: 1 / span 1;
	}
	#main2{
		border-left: 10px bisque solid;
	}
	#main2 > ul{
		display: flex;
		flex-wrap: wrap;
		gap: 25px;
	}
	#main2 > ul > li{
		width: 45%;
	}
	#main2 > ul > li > img{
		width: 80%;
		border-radius: 24px;
	}
}

@media only screen and (max-width: 480px) {
	#main2 > ul{
		display: flex;
		flex-wrap: wrap;
		gap: 25px;
	}
	#main2 > ul > li{
		width: 100%;
	}
	#main2 > ul > li > img{
		width: 60%;
		border-radius: 24px;
	}
}